body {
    align-items: center;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* setting up main container styling and propperties */
.card {
    background: #202020d0;
    border-radius: 20px;
    color: white;
    height: 800px;
    margin: 20px;
    padding: 30px;
    width: auto;
}

/* setting up search bar and search button styling and propperties */
.search {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    background: #1d1d1dfa;
    border: none;
    border-radius: 50%;
    color: white;
    margin: 10px;
    height: 40px;
    outline: none;
    transition: 0.2s ease-in-out;
    width: 40px;
}

.search-button:hover {
    background: #7c7c7c6b;
    transition: 0.1s ease-in-out;
    
}

.search-bar {
    background: #1d1d1dd5;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    padding: 8px 15px;
    width: calc(100% - 100px);
}

/* Setting up the weather section styling and propperties */
.temp {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.weather {   
    margin: 50px 0 0px 20px;
}

.weather.loading {
    max-height: 20px;
    visibility: hidden;
    position: relative;
}

.weather.loading:after {
    color: white;
    content: 'Loading...';
    visibility: visible;
    position: absolute;
    top: 0;
}

/* setting up the 5 day secition styling and propperties */
h2 {
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0;
}

.fiveDay {
    
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.col {
    background: #1d1d1dd5;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
    padding: 10px 10px 0 10px;
    width: 150px;
}

/* setting up the history section styling and propperties */
.history {
    display: grid;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    right: 100px;
    top: 150px;
}

@media (max-width: 768px) {
    .history {
    display: grid;   
    justify-content: center;
    margin-top: 50px;
    position: static;
    }
}

@media (max-width: 768px) {
    .history-btn {
    display: grid;   
    justify-content: center;   
    width: 200px;
    }
}

/* styling history textarea and clear button */
.city-history {
    background: #1d1d1dd5;
    border: none;
    border-radius: 20px;
    color: white;
    margin: 2px;
    text-align: center;
    width: 200px;
    
}

.city-history:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(133, 159, 172, 0.5);
    transform: translateY(-1px);
    transition: transform 150ms;
}

.history-btn{
    background: #1d1d1dd5;
    border: none;
    border-radius: 20px;
    color: white;
    margin-bottom: 15px;
    padding: 5px; 
}

.history-btn:hover {
    background: #7c7c7c6b;
    transition: 0.2s ease-in-out;

}